{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="d-flex justify-content-center font-weight-bold">
  <h1>League Settings</h1>
</div>
<div class="d-flex justify-content-center px-lg-5">
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="d-flex flex-row flex-wrap bd-highlight mb-3 justify-content-center">
      <div class=" p-2 bd-highlight text-center">
        {{ form.qb.label }}<br>
        {{ form.qb() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.rb.label }}<br>
        {{ form.rb() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.wr.label }}<br>
        {{ form.wr() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.te.label }}<br>
        {{ form.te() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.rb_wr.label }}<br>
        {{ form.rb_wr() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.rb_te.label }}<br>
        {{ form.rb_te() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.wr_te.label }}<br>
        {{ form.wr_te() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.rb_wr_te.label }}<br>
        {{ form.rb_wr_te() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.qb_rb_wr_te.label }}<br>
        {{ form.qb_rb_wr_te() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.kicker.label }}<br>
        {{ form.kicker() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.dst.label }}<br>
        {{ form.dst() }}<br>
      </div>
      <div class="p-2 bd-highlight text-center">
        {{ form.scoring.label }}<br>
        {{ form.scoring() }}<br>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      {{ form.submit() }}
    </div>
  </form>
</div>
<div class="d-flex px-lg-3 px-2 pb-2 pt-4 flex-wrap">
  <div class="d-flex flex-row flex-wrap pl-2">
    <h2>My Team (Include Bench)</h2>
  </div>
  <div class="d-flex flex-row flex-wrap pl-2">
    <select name="player" id="player" class="selectpicker" data-live-search="true">
      {% for row in players %}
      <option value="{{row.id}}">{{row.player_name}} ({{row.pos}})</option>
      {% endfor %}
    </select>
  </div>
  <div class="d-flex flex-row flex-wrap pl-2">
    <button type="button" class="btn btn-primary" name="addPlayer" id="addPlayer" class="addPlayer"
      onclick="add_player_to_roster()">Add Player</button>
  </div>
</div>
<div class="d-flex table-responsive px-lg-3 px-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Name</th>
        <th>Opponent</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody name="roster" id="roster" class="roster">
      {% for player in roster %}
      <tr>
        <td>{{player.pos}}</td>
        <td>{{player.player_name}} ({{player.team}})</td>
        {% if player.home %}
        <td>vs. {{player.opponent}}</td>
        {% else %}
        <td>@ {{player.opponent}}</td>
        {% endif %}
        <td name="removePlayer" id="removePlayer" class="removePlayer"
          onclick="remove_player_from_roster('{{player.id}}')">
          <button type="button" class="btn btn-danger">X</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="d-flex px-lg-3 px-2 pb-2 pt-4 flex-wrap">
  <div class="d-flex flex-row flex-wrap pl-2">
    <h2>Opponent Starting Lineup</h2>
  </div>
  <div class="d-flex flex-row flex-wrap pl-2">
    <select name="opponent_player" id="opponent_player" class="selectpicker" data-live-search="true">
      {% for row in players %}
      <option value="{{row.id}}">{{row.player_name}} ({{row.pos}})</option>
      {% endfor %}
    </select>
  </div>
  <div class="d-flex flex-row flex-wrap pl-2">
    <button type="button" class="btn btn-primary" name="addPlayer" id="addPlayer" class="addPlayer"
      onclick="add_player_to_opponent_roster()">Add Player</button>
  </div>
</div>
<div class="d-flex table-responsive px-lg-3 px-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Name</th>
        <th>Opponent</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody name="opponentRoster" id="opponentRoster" class="opponentRoster">
      {% for player in opponent_roster %}
      <tr>
        <td>{{player.pos}}</td>
        <td>{{player.player_name}} ({{player.team}})</td>
        {% if player.home %}
        <td>vs. {{player.opponent}}</td>
        {% else %}
        <td>@ {{player.opponent}}</td>
        {% endif %}
        <td name="removePlayer" id="removePlayer" class="removePlayer"
          onclick="remove_player_from_opponent_roster('{{player.id}}')">
          <button type="button" class="btn btn-danger">X</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary">Run Simulation</button>
</div>



<script>
  $(document).ready(function () {
    $("select").selectpicker();
    $("#submit").addClass("btn btn-primary");
    document.getElementsByClassName('dropdown')[12].style.height = "100%";
    document.getElementsByClassName('dropdown')[13].style.height = "100%";
    for (var count = 13; count < document.getElementsByClassName('btn').length; count++) {
      document.getElementsByClassName('btn')[count].style.height = "100%";
    }
  }
  )
  function change_a_roster(roster_type, add_or_remove, player_id) {
    $.ajax({
      url: "/player",
      method: "POST",
      data: { roster_type: roster_type, add_or_remove: add_or_remove, player_id: player_id },
      dataType: "json",
      success: function (data) {
        var html = "";
        for (var count = 1; count < data.length; count++) {
          html += '<tr><td>' + data[count].pos + '</td><td>' + data[count].player_name + ' (' + data[count].team + ')</td><td>'
          if (data[count].home == true) {
            html += 'vs. '
          }
          else {
            html += '@ '
          }
          html += data[count].opponent + '</td><td name="removePlayer" id="removePlayer" class="removePlayer" onclick="'
          if (data[0]['roster_type'] == "roster") {
            html += 'remove_player_from_roster('
          }
          else {
            html += 'remove_player_from_opponent_roster('
          }
          html += data[count].id + ')"><button type="button" class="btn btn-danger">X</button></td></tr>'
        }
        if (data[0]['roster_type'] == "roster") {
          $("#roster").html(html);
        } else {
          $("#opponentRoster").html(html);
        }

      }
    })
  };
  function remove_player_from_roster(player_id) {
    change_a_roster("roster", "remove", player_id)
  }
  function remove_player_from_opponent_roster(player_id) {
    change_a_roster("opponent_roster", "remove", player_id)
  }
  function add_player_to_roster() {
    var player_id = $("#player").val();
    change_a_roster("roster", "add", player_id)
  }
  function add_player_to_opponent_roster() {
    var player_id = $("#opponent_player").val();
    change_a_roster("opponent_roster", "add", player_id)
  }

</script>
{% else %}
<div>Landing Page</div>
{% endif %}



{% endblock %}